.languageSwitcherContainer {
  display: flex;
  align-items: center;
  margin-left: 1rem; /* Adjust as needed */
}

.flagButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
}

.flagIcon {
  width: 32px; /* Adjust size as needed */
  height: 24px; /* Adjust size as needed */
  border-radius: 4px; /* Optional: for rounded corners */
  box-shadow: 0 1px 3px rgba(0,0,0,0.2); /* Optional: add a subtle shadow */
}
